@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
min-height:100vh;
max-height:100vh;
color:#fff;
  background-color: hsl(0, 0%, 95%)
}

.container {
min-height:95vh;
min-width:95vw;
display:grid;
grid-template-rows:100%;
grid-template-columns:repeat(3,21%);
align-items:center;
justify-content:center;
  background-color: hsl(0, 0%, 95%)
}

@media screen and (max-width: 500px) {
.container {
min-height:95vh;
min-width:95vw;
display:grid;
grid-template-rows:repeat(3,100%);
grid-template-columns:100%;
justify-content:center;
background-color:hsl(0, 0%, 95%);
  }
}

.BigShoDis, h1 {
font-family:'Big Shoulders Display';
text-transform:uppercase;
 color: hsl(0, 0%, 95%);
}

.containerchild {
height:65%;
 
}
.LexDec, p {
color:hsla(0,0%,100%,0.75);
font-family:'Lexend Deca';
}
p {
font-size: 16px;
}

.sect { /*This was just for testing, sry*/
/*border:solid #fff;*/
}

.color1 {
background-color:hsl(31,77%,52%);
}

.color2 {
background-color:hsl(184,100%,22%);
}

.color3 {
background-color:hsl(179,100%,13%);
}

.roundimg {
border-radius:50%;
}




.padding {
padding: 30px 60px;
}

.margin {
margin-bottom:100px;
}

.but1 {
color: hsl(31, 77%, 52%);
 background-color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%);
}

.but1:hover {
border: solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
   background-color: hsl(31, 77%, 52%);
}
.but2 {
color: hsl(184, 100%, 22%);
background-color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%);
}  

.but2:hover {
border: solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}
.but3 {
color: hsl(178, 100%, 13%);
background-color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%);
}
.but3:hover {
border: solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
 background-color: hsl(179, 100%, 13%);
}
.roundbit {
border-radius: 20px;
  width: 65%;
  height: 10%
}
