@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
min-height:100vh;
max-height:100vh;
color:#fff;
  background-color: hsl(0, 0%, 95%)
}

.container {
min-height:95vh;
min-width:95vw;
display:grid;
grid-template-rows:100%;
grid-template-columns:repeat(3,21%);
align-items:center;
justify-content:center;
  background-color: hsl(0, 0%, 95%)
}

@media screen and (max-width: 500px) {
.container {
min-height:95vh;
min-width:95vw;
display:grid;
grid-template-rows:repeat(3,100%);
grid-template-columns:100%;
justify-content:center;
background-color:hsl(0, 0%, 95%);
  }
}

.BigShoDis, h1 {
font-family:'Big Shoulders Display';
text-transform:uppercase;
 color: hsl(0, 0%, 95%);
}

.containerchild {
height:65%;
 
}
.LexDec, p {
color:hsla(0,0%,100%,0.75);
font-family:'Lexend Deca';
}
p {
font-size: 16px;
}

.sect { /*This was just for testing, sry*/
/*border:solid #fff;*/
}

.color1 {
background-color:hsl(31,77%,52%);
}

.color2 {
background-color:hsl(184,100%,22%);
}

.color3 {
background-color:hsl(179,100%,13%);
}

.roundimg {
border-radius:50%;
}

.cc1 {
border-radius:7px 0 0 7px;
}

.cc3 {
border-radius:0 7px 7px 0;
}

.padding {
padding: 20px 40px;
}

.margin {
margin-bottom:100px;
}
@media screen and (max-width: 500px;) {
.cc1, .cc2, .cc3 {
  border-radius: 7px;
  }
}
.but1 {
color: hsl(31, 77%, 52%);
 background-color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%);
}

.but1:hover {
border: solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
   background-color: hsl(31, 77%, 52%);
}
.but2 {
color: hsl(184, 100%, 22%);
background-color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%);
}  

.but2:hover {
border: solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}
.but3 {
color: hsl(178, 100%, 13%);
background-color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%);
}
.but3:hover {
border: solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
 background-color: hsl(179, 100%, 13%);
}
.roundbit {
border-radius: 20px;
  width: 65%;
  height: 25%
}
.Moveright1 {
 animation-name: sedan;
  animation-duration: 1s;
  }
.Moveright2 {
  animation-name: suv;
  animation-duration: 1s;
  }
.Moveright3 {
  animation-name: luxury;
  animation-duration: 1s;
  [
@keyframes sedan {
 from {
  position: relative;
   margin-left: 0;
  } 
  15% {
   position: relative;
   margin-left: 50px; 
  }
  30% {
    position: relative;
   margin-left: 125px
  }
  65% {
    position: relative;
   margin-left: 300px;
  }
  to {
    position: relative;
   margin-left: 0;
  }
  }
